rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Open read and write access for all MM Ride fleet operations, driver submissions, admin panel & telemetry
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
